#root{
    --button-color: #C2E7FF;
    --button-hover: rgb(131, 131, 211);
    --box-color: #ffffff;
    --text-color: #81898D;
}


.App{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


/* ------------------------------------------PHRASES-------------------------------------- */

.phrases{
    background-color: var(--box-color);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    max-height: 150px;
    min-width: 300px;
    min-height: 150px;
    padding: 2rem;
    font-size: 15px;
    font-family: 'Lilita One', cursive; 
    text-align: center;  
    color: var(--text-color);  
    
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(50, 134, 173, 0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(131, 156, 151, 0.75);
box-shadow: 10px 10px 5px 0px rgba(12, 128, 136, 0.75);

}


/* --------------------------------------QUOTE-ICONS--------------------------------------- */

.bxs-quote-alt-right{
    display: flex;
    position: relative;
    font-size: 40px;
    bottom: 80px;
    left: 130px;
    color: var(--text-color);
}

